.app * {
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
}

p, h1, h2, h3, h4, button {
  color: #1e1e1e;
}

h2 {
  font-size: 32px;
}

button {
  font-size: 20px;
  outline: #631BEE;
}

.center-text {
  text-align: center;
}

.hide {
  display: none;
}